body{
    font-family: 'Poppins', sans-serif;
}

/* .menu{
    background-image: url('../images/background.png');
    background-size: 80vh;
} */


h1, h2, h3{
    color: #428f96;
    font-size: 20pt;
    
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    margin-top: 60px;
}

h5, .about-title{
    color: #66b6bd;
}

h6{
   color: #575454;
}

p{
    font-size: 1rem;
    color: #737374;
    text-align: start;
}

.menu{
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

nav{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: #66b6bd;  
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #428f96;
}

.summary, .menu{
    background-color: #e0ebe8;
}

.summary__photo{
    height: 47vh;
    border-radius: 100%;
}

.summary__container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 45vh;
    width: 100%;
}
.summary__container:nth-child(2){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.summary__container-text{
    width: 80%;
    text-align: center;
    color: #575454;
    margin-top: 15px;
}

.summary__paragraph{
    text-align: center;
}
hr{
    border: none;
    height: 1px;
    width: 50%;
    background-color: #dfe0e0;
}

.about{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title{
    text-align: start;
    margin-top: 30px;
}


.about__container{
    /* height: 187vh; */
    width: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__beginning, .about__studies, .about__hobbies{
    width: 80%;
}

.about__studies{
    text-align: start;
}

.skills__container{
    background-color: #dfe0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__skills{
    background-color: #dfe0e0;
    width: 100%;
    border-radius: .25rem;
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.skill__name h4{
    color: #575454;
    font-size: 10pt;
}

.skill{
    background-color: #66b6bd;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 3px;
}

.skill-empty{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 3px;
    border: 2px solid #66b6bd;
}

.about__skills-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skills__content{
    display: flex;
    width: 90%;
    text-align: left;
    justify-content: center;
    
}

.skill__name{
    width: 30%;
}

.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects__container{
    margin-top: 30px;
}

.btn-primary{
    background-color: #66b6bd;
    border: none;
}

.btn-primary:hover{
    background-color: #66b6bd;
}

.card{
    margin-bottom: 10px;
    width: 18rem;
}

.card img{
    height: 40vh;
}

.card-title{
    color: #66b6bd;
}

.card-text{
    color: #575454;
}

.footer{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-direction: column; */
}

.footer__container i{
    height: 5vh;
    color: black;
}

.footer__icon{

    height: 5vh;
}

.fa-github:before, .fa-linkedin:before, .fa-envelope:before{
    color: #66b6bd;
    font-size: 1.5rem;
}

@media(min-width: 360px){
    .summary__container:nth-child(2){
        height: 50vh;
    }

    .about__skills{
        height: 45vh;
    }
}

@media(min-width: 375px){
    .summary__container:nth-child(2){
        height: 50vh;
    }

    .about__skills{
        height: 50vh;
        margin: 0;
    }
    
}

@media(min-width: 425px){
    .summary__container:nth-child(2) {
        height: 55vh;
    }
    .summary__container-text {
        width: 85%;
    }
    .about__beginning, .about__studies, .about__hobbies {
        width: 85%;
    }
}

@media(min-width: 640px){
    .about__skills{
        height: 65vh;
    }

}

@media(min-width: 768px){
    .summary__container-text{
        width: 60%;
    }

    .about__beginning, .about__studies, .about__hobbies{
        width: 90%;
    }

    .skill__name{
        width: 35%;
    }

    .about__skills{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 30vh;
    }

    .about__container {
        width: 70%;
    }

    .skills__container{
        margin-bottom: 10px;
    }
    .summary__container:nth-child(2) {
        height: 30vh;
    }

    .projects__container{
        display: flex;
        width: 95%;
        justify-content: space-between;
    }

    hr{
        width: 40%;
    }

    .card{
        width: 15rem;

    }

    .skill__name h4{
        font-size: 11pt;
    }
}

@media(min-width: 1024px){
    .navbar-light .navbar-nav .nav-link {
        font-size: 1rem;
        margin-right: 15px;
    }

    .summary__container{
        height: 50vh;
    }

    .summary__container-text{
        width: 52%;
    }

    .summary__container:nth-child(2){
        height: 45vh;
    }

    .about__beginning, .about__studies, .about__hobbies {
        width: 75%;
    }

    .about__container{
        width: 70%;
    }

    .about__skills{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 35vh;
    }
    .skill__name h4{
        font-size: 15pt;
    }

    .card{
        width: 18rem;
    }

    .projects__container{
        width: 90%;
    }
}

@media(min-width: 1280px){
    .summary__container:nth-child(2){
        height: 40vh;
    }

    .summary__container-text{
        width: 48%;
    }
    
    .about__container{
        width: 65%;
    }

    .about__skills{
        width: 55%;
        margin-bottom: 20px;
    }

    .card{
        width: 17rem;
    }

    .projects__container{
        width: 70%;
        
    }

    h2{
        margin-bottom: 20px;
    }
    
}

@media (min-width: 1440px){
    /* .about__container {
        height: 90vh;
    } */

    .card{
        width: 18rem;
    }
}

@media(min-width: 1920px){
    .summary__container-text{
        width: 40%;
    }

    .summary__container:nth-child(2){
        height: 20vh;
    }

    .about__beginning, .about__studies, .about__hobbies {
        width: 62%;
    }

    /* .about__container{
        height: 67vh;
    } */

    .about__skills{
        width: 48%;
        height: 30vh;
    }

    .projects__container{
        width: 70%;
    }
    
    .card{
        width: 24rem;
    }
}