body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    color: #66b6bd;
    font-size: 20pt;
    margin-bottom: 10px;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1rem;
    color: #737374;
}

.menu{
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

nav{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color:#575454;  
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #66b6bd;
}

.summary{
    height: 110vh;
}

.summary__photo{
    height: 47vh;
    border-radius: 100%;
}

.summary__container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 45vh;
    width: 100%;
}
.summary__container:nth-child(2){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.summary__container-text{
    width: 80%;
    text-align: center;
    color: #575454;
}

hr{
    border: none;
    height: 5px;
    width: 50%;
    background-color: #dfe0e0;
}

.about{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;
}

.about__title{
    color: #66b6bd;
    font-size: 18pt;
}

.about__container{
    height: 40vh;
    width: 80%;
    text-align: center;
}

.about__skills{
    background-color: #dfe0e0;
    width: 90%;
    border-radius: .25rem;
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}



.about h4{
    color: #575454;
    font-size: 10pt;
}

.skill{
    background-color: #66b6bd;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 3px;
}

.skill-empty{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 3px;
    border: 2px solid #66b6bd;
}

.about__skills-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skills__container{
    display: flex;
    width: 90%;
    text-align: left;
    justify-content: center;
    
}

.skill__name{
    width: 30%;
}

.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 270vh;
}

.btn-primary{
    background-color: #66b6bd;
    border: none;
}

.btn-primary:hover{
    background-color: #66b6bd;
}

.card{
    margin-bottom: 10px;
    width: 18rem;
}

.card img{
    height: 40vh;
}

.card-title{
    color: #66b6bd;
}

.card-text{
    color: #575454;
}


.footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container i{
    height: 5vh;
    color: black;
}

.footer__icon{

    height: 5vh;
}

.fa-github:before, .fa-linkedin:before, .fa-envelope:before{
    color: #66b6bd;
    font-size: 5vh;
}


@media(min-width: 768px){
    .summary{
        height: 99vh;
    }

    .summary__container-text{
        width: 50%;
    }

    .skill__name{
        width: 35%;
    }

    .about__skills{
        display: flex;
        flex-direction: row;
        width: 80%;
    }

    .about{
        height: 115vh;
    }
    .about__container {
        height: 35vh;
        width: 50%;
    }

    .skills__container{
        margin-bottom: 10px;
    }
    .summary__container:nth-child(2) {
        height: 57vh;
    }

    .projects{
        height: 100vh;
    }

    .projects__container{
        display: flex;
        width: 95%;
        justify-content: space-between;
    }

    hr{
        width: 40%;
    }

    .card{
        width: 15rem;

    }

    
    .about h4{
        font-size: 11pt;
    }
}

@media(min-width: 1024px){
    .navbar-light .navbar-nav .nav-link {
        font-size: 1rem;
        margin-right: 15px;
    }

    .summary__container{
        height: 50vh;
    }

    .about{
        height: 124vh;
    }

    .about__container{
        height: 25vh;
    }

    .about__skills{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 65vh;
        margin-bottom: 19px;
    }
    .about h4{
        font-size: 15pt;
    }

    .card{
        width: 16rem;
    }

    .projects__container{
        width: 80%;
    }

    .projects{
        height: 90vh;
    }
}

@media(min-width: 1200px){
    .summary__container:nth-child(2){
        height: 30vh;
    }

    .summary{
        height: 130%;
    }
    
    .about__container{
        height: 20vh;
    }

    .about__skills{
        width: 65%;
        margin-bottom: 30px;
    }

    .projects{
        height: 85vh;
    }

    .projects__container{
        width: 65%;
    }
    
    hr{
        width: 30%;
    }    
}