body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(231, 189, 189) ; */
    background-color: rgb(248, 245, 245);
}

main{
    background-color: rgb(180, 176, 176);
    border-radius: 5px;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);

}

.title{
    width: 100%;
    background-color: rgb(231, 189, 189);
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
}

img{
    height: 4vh;
}

.input-cep{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#input-user, #btn-send{
    border: none;
}

#btn-send{
    background-color: rgb(231, 189, 189);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input{
    height: 4vh;
    width: 67vw;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

label{
    width: 80%;
    margin-top: 5px;
}

div{
    display: flex;
}

#street, #complement, #neighborhood, #city, #state{
    background-color: #ece4e4;
    height: 4vh;
    width: 75vw;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}


@media(min-width: 640px){
    main{
        width: 60%;
        height: 90vh;
    }

    input{
        width: 40vw;
    }

    #street, #complement, #neighborhood, #city, #state{
        width: 45vw;
    }

    .data{
       height: 65vh;
    }
}

@media(min-width: 768px){
    main{
        width: 70%;
        height: 55vh;
    }

    input{
        width: 50vw;
    }

    #street, #complement, #neighborhood, #city, #state{
        width: 55vw;
    }

    .data{
        height: 40vh;
    }
}

@media(min-width: 1024px){
    main{
        width: 50%;
        height: 70vh;
    }

    input{
        width: 36vw;
    }

    #street, #complement, #neighborhood, #city, #state{
        width: 39vw;
    }

    .data{
        height: 50vh;
    }
}

@media(min-width: 1280px){
    main{
        width: 35%;
        height: 80vh;
    }

    input{
        width: 25vw;
    }

    #street, #complement, #neighborhood, #city, #state{
        width: 27vw;
        height: 4vh;
    }

    .data{
        height: 55vh;
    }
}

@media(min-width: 1920px){
    main{
        height: 55vh;
    }

    input{
        width: 26vw;
        height: 3vh;
    }

    .data{
        height: 37vh;
    }

    #street, #complement, #neighborhood, #city, #state{
        width: 28vw;
        height: 3vh;
    }
}